<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>CtxIOSUITests</string>
  <key>CFBundleIdentifier</key>
  <string>rs.ctx.ios.uitests</string>
  <key>CTX_IOS_BASE_URL</key>
  <string>$(CTX_IOS_BASE_URL)</string>
  <key>CTX_IOS_TOKEN</key>
  <string>$(CTX_IOS_TOKEN)</string>
</dict>
</plist>
